body {
  padding: 25px;
  background-color: black;
  color: salmon;
  font-family: "Source Code Pro";
  margin-top: 1%;
  margin-left: 5%;
  width: 80%;
  font-size:2vh;
}
a{
	color:salmon;
  border-bottom: 2px solid red;
  text-decoration: none
}
a:hover{
  color: salmon;
}
img{
  width:20%;
  border-radius: 8px;
  border: 3px solid salmon;
  margin: 1%;
}